.choose_us_Item_Container{
    vertical-align: middle;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background-color: #EAEAEA;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    // width: 90%;
    .choose_us_icon_wrapper{
        margin: 0 auto;
        color: #9E9428;
        text-align: center;
        background-color: #736D34;
        width: 80px;
        height: 80px;
        align-self: center;
        align-items: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;
    }
    h1{
        font-size: 24px;
    }
    p{
        text-align: center;
        color: #9E9428;
        font-weight: bold;
        font-size: 20px;
        margin: 0 auto;
        width: 80%;
    }
}