#Galary_Item_Container{
    position: absolute;
    bottom: 0;
    background-color: #0000006a;
    width: 100%;
    border-radius: 12px;

    h1{
        margin-left: 10px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
    }
    p{
        color: #FFF;
        margin-left: 10px;
    }
}